<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--必须在宿主中注册provider-->
    <application>
        <provider
            android:name="org.muc.datakv.ShareProvider"
            android:authorities="org.muc.content.provider.ShareProvider"
            android:exported="true"
            android:process=":MoldShareProvider" />
    </application>

</manifest>